@charset "utf-8";
/* User: Eric Ma  
/* Email: zjafei@gmail.com
/* Date: 2015/3/2 */
/* Time: 9:24 */
body{
    -webkit-text-size-adjust:none;
    -webkit-user-select: none;
    cursor: default;
    padding: 0;
    margin: 0;
    background: #fff;
    font-family:"Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}
/*滚动条样式*/
::-webkit-scrollbar-track-piece{
    border-radius:0;/*滚动条的圆角宽度*/
}
::-webkit-scrollbar{
    width:8px;/*滚动条的宽度*/
    height:8px;/*滚动条的高度*/
}
::-webkit-scrollbar:hover{
    background-color: rgb(204, 204, 204);
}
::-webkit-scrollbar-thumb{
    background-color:rgba(87, 92, 96, 0.6);
    border-radius:5px;
    min-height: 60px;
}
::-webkit-scrollbar-thumb:hover{
    background-color:rgba(87, 92, 96, 0.9);
}

.red{
    color: #DA4939;
}
.yellow{
    color: #E8BF6A;
}
.blue{
    color: #3B9CE4
}
.gray{
    color: #CCD6DE
}
.green{
    color: #A5C261
}

.win{
    width: 100%;
    height: 521px;
    position:relative;
}

.msg_icon{
    height: 48px;
    width: 48px;
    margin: 8px auto;
    background-position: center ;
    background-repeat: no-repeat;
}

.msg_icon_out_put{
    background-image: url("outPut.gif");
}
.msg_icon_out_put_ok{
    background-image: url("outPut_ok.gif");
}
.msg_icon_out_put_error{
     background-image: url("outPut_error.gif");
}
.msg_icon_working{
    background-image: url("msg_working.gif");
}
.msg_icon_working_stop{
    background-image: url("msg_working_stop.gif");
}
.msg_icon_working_error{
    background-image: url("msg_working_error.gif");
}